<div>
  <div class="banner">
    <h1><b>Welcome to the Multi-Channel Fulfillment Explorer</b></h1>
  </div>
  <div class="info">
    <mat-grid-list cols="3" rowHeight="400px">
      <mat-grid-tile>
        <div align="center">
          <img height='180' src='/../../assets/inventory3.png'><br>
          <h2>Inventory</h2>
          <p class="blurb">View your inventory available for fulfillment in Amazon's FBA Network and place orders on
            the spot.</p>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div align="center">
          <img height='180' src='../../assets/Orders.png'>
          <h2>Inventory</h2>
          <p class="blurb">View your inventory available for fulfillment in Amazon's FBA Network and place orders on
            the spot.</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div align="center">
          <img height='180' src='../../assets/Shipments.png'>
          <h2>Shipments</h2>
          <p class="blurb">View and track the status of shipments as they make their way to the customers.</p>
        </div>
      </mat-grid-tile>

    </mat-grid-list>

  </div>

  <h2>Please log in to continue</h2>
  <div align="center">
    <button mat-raised-button (click)="login() ">Login</button>
  </div>
</div>
